<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath=".\Blog.API.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile="logs" forwardWindowsAuthToken="false">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Prod" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 4d4a0cc9-6907-4170-a03b-3ce54528de4d-->