<div class="pageBackground">
  <article class="postContainer" style="margin-top:16vh;">
    <figure id="samImg">
      <img src="../../assets/images/SamOnAMountain.jpg" />
    </figure>
    <p>
      I’m Sam Wheat. I live in Oceanside, California. Oceanside is in North San Diego County.
      I am a software engineer. I write enterprise database applications using the Microsoft .Net framework.
      I currently work as an independent contractor in San Diego.
    </p>
    <p>
      Writing code is a both a profession and a hobby for me. Another one of my hobbies is investing.
      Coding and investing are complementary hobbies in many ways. I always have interesting projects to work on
      that involve both. For many years I wrote black box trading systems using platforms like TradeStation, WealthLab, and
      SmartQuant. More recently I’ve turned my attention to forecasting using economic models. I’m currently working on a
      project that retrieves economic data from the St. Louis Federal Reserve Bank, aggregates it, and formats it for regression analysis.
    <p>

      When I’m not writing code I like to hike. I usually hike with the Sierra Club or various hiking groups on Meetup.com.
      I’ve hiked everywhere from Hollywood hills to Anza-Borrego Wilderness. I own a Honda VFR motorcycle that I don’t ride
      as much I should. It’s really dangerous to ride where I live and I don’t have the time to go out to mountain roads
      very often. I love to ride however.
    </p>

    <a id="btnShowWorkExp" href="#">Click here for detail on my work experience</a>



    <div id="divWorkExperience" style="display: none; clear: none;margin-top:1vh;">

      <p>
        I've designed and written enterprise database applications my entire career. I am a Full Stack Developer which
        means I write code for all the different components that make up a typical business application.  Most of
        my work is focused on web applications however I still actively work on WPF desktop applicatons.
        All my applicatons are built using Microsoft's .Net framework.  I also use various front end tools and frameworks
        such as JQuery and Angular.  I use Entity Framework for the business layer and SQL Server or Oracle for the back end.
        Most of my applications are architected using the MVC or MVVM pattern.  I write service applications using both
        WCF and REST.  Several of the applications I've worked on have incorporated Microsoft Message Queue, Rabbit MQ,
        or IBM MQ. I've worked mostly as a contractor over the last ten years because I like the flexiblity and the interesting
        projects that seem to come my way.
      </p>

      <div style="margin-top:1vh;margin-bottom:1vh;">
        Here are a few of the technologies and tools I use every day:
      </div>

      <table class="table table-striped table-bordered techTable">
        <thead>
          <tr>
            <td class="centered"><div class="middle"><p style="margin:auto;">Technology</p></div></td>
            <td class="centered"><div class="middle"><p style="margin:auto;">Years<br />Experience</p></div></td>
          </tr>
        </thead>
        <tbody>
          <tr><td>Microsoft .Net Framework - C#, Object Oriented Programming</td><td class="centered">10+</td></tr>
          <tr><td>Microsoft SQL Server - SSRS, stored procedures, query optimization, ad hoc reporting</td><td class="centered">10+</td></tr>
          <tr><td>ASP.NET - MVC, Razor, WEB API</td><td class="centered">3</td></tr>
          <tr><td>Javascript/JQuery</td><td class="centered">3</td></tr>
          <tr><td>Angular</td><td class="centered">1</td></tr>
          <tr><td>Angular 2/Typescript/RxJS</td><td class="centered">1</td></tr>
          <tr><td>SOA, WCF, Rest, Web API</td><td class="centered">4</td></tr>
          <tr><td>Windows Presentation Foundation (WPF) - XAML, MVVM, custom controls, dependency properties, routed events, data binding, DevExpress Controls for WPF</td><td class="centered">4</td></tr>
          <tr><td>Entity Framework - LINQ, Code First, Migrations</td><td class="centered">6</td></tr>
          <tr><td>Task Parallel Library</td><td class="centered">5</td></tr>
          <tr><td>Various Javascript utilities: Webpack Gulp NPM</td><td class="centered">Proficient</td></tr>
        </tbody>
      </table>

      <div style="margin-top:1vh;margin-bottom:1vh;">
        Clients I've worked for over the last few years:
      </div>

      <div class="clientGrid">
        <div class="clientCell rowContainer">
          <div class="text columnContainer">
            <p style="display:none;">
              Data provider for the mortage industry.
              Coded sections of new Title & Settlement fee product using AngularJS.  Wrote repository layer, business logic,
              stored procedures.  Very heavy use of WCF services
              and WebAPI.  Dramatically improved throughput to company's flagship product by parallelizing time-sensitive API and database calls.
            </p>
            <p>
              Full-stack development.
            </p>
          </div>
          <div class="image">
            <img src="/app/about/closingcorp-logo.jpg" />
          </div>
        </div>

        <div class="clientCell rowContainer">
          <div class="text columnContainer">
            <p>
              Greenfield development.  Large MVC web portal for managing procedures and internal controls for the Bank.
              Lead architect for site including views, view models, controllers, and service layer.
              Very heavy JavaScript and Ajax (most modules designed as single page applications).
              C#, JavaScript, JQuery, Bootstrap, MVC, Razor, SQL Server, Entity Framework, LINQ.
            </p>
            <p>
              Full-stack development.
            </p>
          </div>
          <div class="image">
            <img src="/app/about/UnionBank.gif" />
          </div>
        </div>

        <div class="clientCell rowContainer">
          <div class="text columnContainer">
            <p>
              Consumer division of multi-national credit reporting agency.  Implemented a variety of upgrades and patches
              for a very large high volume public facing website.
              C#, MVC, Razor, SQL Server, WCF.
            </p>
            <p>
              Full-stack development.
            </p>
          </div>
          <div class="image">
            <img src="/app/about/experian-logo1.png" />
          </div>
        </div>

        <div class="clientCell rowContainer">
          <div class="text columnContainer">
            <p>
              Multi-trillion dollar investment management company.  Coded large sections of a specialized WPF application for
              trading mortgage pools.  Designed and wrote a visual queue manager.
              C#, WPF, WPF custom controls, SQL Server, Oracle, Entity Framework, NHibernate, IBM MQ, WCF (wrap Bloomberg API), LINQ,
              XML serialization, Task Parallel Library (TPL), multi-threaded application, concurrent collections, producer-consumer
              pattern, Infragistics controls, Telerik controls.
              Algorithmic development, unit tests and documentation.
            </p>
            <p>
              Full-stack development.
            </p>
          </div>
          <div class="image" style="background-color:white;">
            <img src="/app/about/pimco.png" />
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

