<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/samatwork.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Sam Wheat</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav class="nav-menu" *ngIf="(sessionService.sideNavModeAnnouncedSource$ | async) === 0">
      <ul>


        <li class="active"><a [routerLink]="['/home']" fragment="hero" data-target="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a [routerLink]="['/home']" fragment="about" data-target="#about"><i class="bx bx-user"></i> <span> About</span></a></li>
        <li><a [routerLink]="['/home']" fragment="technologies" data-target="#technologies"><i class="bx bx-server"></i><span> Technologies</span></a></li>
        <li><a [routerLink]="['/home']" fragment="clients" data-target="#clients"><i class="bx bx-file-blank"></i> <span> Clients</span></a></li>
        <li><a [routerLink]="['/home']" fragment="contact" data-target="#contact"><i class="bx bx-envelope"></i><span> Contact</span></a></li>
        <li><a [routerLink]="['/blogIndex']" (click)="toggleSideNavMode(1)" data-target="#blogIndex"><i class="bx bx-book-content"></i><span> Blog</span></a></li>
      </ul>
    </nav>



    <nav class="nav-menu" *ngIf="(sessionService.sideNavModeAnnouncedSource$ | async) === 1">
      <ul>
        <li class="active"><a href="/"><i class="bx bx-home"></i> <span> Home</span></a></li>
      </ul>
      <app-group-filter GroupColumn="GroupID"></app-group-filter>
      <app-group-filter GroupColumn="PubDate"></app-group-filter>
    </nav>




    <nav class="nav-menu" *ngIf="(sessionService.sideNavModeAnnouncedSource$ | async) === 2">
      <ul>
        <li class="active"><a href="/"><i class="bx bx-home"></i> <span> Home</span></a></li>
        <li class="active"><a [routerLink]="['/blogIndex']" (click)="toggleSideNavMode(1)"><i class="bx bx-book-content"></i> <span> Blog</span></a></li>
      </ul>

    </nav>
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class='bx bx-menu'></i></button>
    <!--<a href="#" class="mobile-nav-toggle d-xl-none"><i class='bx bx-menu'></i></a>-->
  </div>
</header>
