<main id="main" >
  <div class="postIndexOuterGrid" *ngIf="IsRendered">
    <div class="postIndexItemsGrid">
      <div class="gridContainer" data-aos="fade-down">
        <a *ngFor="let item of ContentItems" class="postIndexContainer" [class.active]="item === SelectedItem" (click)="onClick(item)" href="#" [routerLink]="['/Post', item.Slug]">
          <img src="{{ImageRoot + item.Icon}}" class="cell-image" />

          <div class="cell-title">{{item.Title}}</div>

          <div class="cell-abstract">
            <hr class="postIndexHR" />
            <div>{{item.Abstract}}</div>
          </div>

          <div class="cell-pub">
            <time [attr.datetime]="item.PublishDate">
              {{item.PublishDate | date: 'longDate' }}
            </time>
          </div>
          <div class="cell-category">
            {{item.ContentGroup?.Description}}
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

