<div *ngIf="GroupColumn==='GroupID'" class="groupFilterHeader">
  <i class='bx bxs-flag-alt'></i><span>&nbsp;Topic</span>
</div>

<div *ngIf="GroupColumn==='PubDate'" class="groupFilterHeader">
  <i class='bx bx-calendar'></i><span>&nbsp;Publication Date</span>
</div>

<ul style="list-style-type:none" class="groupFilter">
  <li *ngFor="let grp of Items">
    <button type="button" (click)="onChangeGroup(grp)" [class.active]="isActive(grp.Key)">
      <span>{{grp.Value}}</span>
    </button>
  </li>
</ul>

