<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="align-items-left hero-container">
    <div data-aos="fade-in">
      <h1>Sam Wheat</h1>
      <p><span class="typed align-items-left" data-typed-items="Enterprise Application Developer, Database Developer, Web Developer, Enterprise Application Architect"></span></p>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="content section-bg" data-aos="fade-left">
            <img id="samImg" src="{{ImageRoot + 'SamOnAMountain.jpg'}}" data-aos="fade-right" />
            <p>
              I'm Sam Wheat.  I live in Medford, Oregon.  I am a software engineer.  I write enterprise database applications using 
              Microsoft .Net.
            </p>
            <p>
              I write web applications and desktop applications.  For the desktop I use Windows Presentation Foundation (WPF).  For web applications
              I use a variety of tools and frameworks, the most predominant being Angular, RxJs, and TypeScript.  I use ASP.Net core MVC and Razor pages as well.  
              
            </p>
            <p>
              Every application I have worked on in my career has been a database application.  Because of this I've acquired a fair amount of experience
              using Microsoft SQL Server and to a lesser extent Oracle and MySQL.  Entity Framework Core is a related technology that I have grown
              to appreciate and I use it everywhere I can.
            </p>
            <p>
              I moved from San Diego to Medford in October 2022.  I spent most of my career working in Los Angeles, Orange County, and San Diego as an independent contractor.  
              Much of my work has been in finance and banking however I have had clients in manufacturing, broadcasting, medical, and construction
              services.
            </p>
            <p>
              I spend a lot of time working on personal projects. This gives me an opportunity to try new tools and technologies as they become available and
              it helps me stay current in this fast moving industry.  For the last eight years I've been working on a 
              <a href="https://github.com/leaderanalytics/Vyntix.Fred.FredClient">platform for working with economic data</a> 
              that is published by the St. Louis Federal Reserve Bank.  Along the way I've 
              written several <a href="https://github.com/leaderanalytics/AdaptiveClient" target="_blank">utilities</a> mostly related to the application
              service layer.  I've spent quite a bit of time with Blazor - I even 
              wrote an <a href="https://github.com/leaderanalytics/LeaderPivot.Blazor" target="_blank">implementation of my Pivot Grid control</a> for it.  More recently 
              I've been working on some controls using WinUI 3 and the Uno Platform.
            </p>
            <p>
              When I'm not writing code I like to read up on economics and investing.  I also enjoy hiking and mountain biking and working on home projects in my garage.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Technologies Section ======= -->
  <section id="technologies" class="testimonials">
    <div class="container">

      <div class="section-title">
        <h2>Technologies</h2>
        <p>Tools and technologies I am proficient with.</p>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'angular.png'}}" />
          <h5>Angular</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'azure.jpg'}}" />
          <h5>Azure</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'bootstrap.png'}}" />
          <h5>Bootstrap</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'devexpresslogo.png'}}" />
          <h5>Dev Express</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'docker.png'}}" />
          <h5>Docker</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'dotnetcore.png'}}" />
          <h5>Dotnet Core</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'EntityFramework.png'}}" />
          <h5>Entity Framework</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'git.jpg'}}" />
          <h5>Git</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'rxjs.png'}}" />
          <h5>RxJs</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'sqlserver.png'}}" />
          <h5>SQL Server</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'typescript.png'}}" />
          <h5>TypeScript</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'visualstudio.png'}}" />
          <h5>Visual Studio</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'xaml.jpg'}}" />
          <h5>XAML (WPF)</h5>
        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Clients</h2>
        <p>Clients I have worked with for at least a year.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <img src="{{ImageRoot + 'pimco.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'janus.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'experian2.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'fox.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <img src="{{ImageRoot + 'unionbank.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <img src="{{ImageRoot + 'callaway.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <p>&nbsp;</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'closingcorp.png'}}" />
        </div>
      </div>

    </div>
  </section><!-- End Clients Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Please feel free to contact me with your requirement.</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class='bx bxs-map'></i>
              <h4>Location:</h4>
              <p>Medford, OR</p>
            </div>

            <div class="email">
              <i class='bx bx-mail-send'></i>
              <h4>Email:</h4>
              <p>sam.wheat@outlook.com</p>
            </div>

            <div>
             
              <iframe width="325" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=280&w=325&cp=42.333676795327946~-122.84912109375&lvl=11&typ=d&sty=h&src=SHELL&FORM=MBEDV8" scrolling="no">
              </iframe>
              <div style="white-space: nowrap; text-align: center; width: 325px; padding: 6px 0;">
                 <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=42.333676795327946~-122.84912109375&amp;sty=h&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a>
             </div>
           
         
           
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <app-comments *ngIf="IsRendered"></app-comments>
        </div>
      </div>
      <div style="height:400px;">&nbsp;</div>
    </div>
  </section><!-- End Contact Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <span>&copy; Copyright Sam Wheat</span>
        <a href="https://github.com/sam-wheat/Blog" target="_blank"><i class='bx bxl-github'></i><span>Source code</span></a>
      </div>

    </div>
  </footer><!-- End  Footer -->
</main><!-- End #main -->
<a href="#" class="back-to-top"><i class='bx bx-chevron-up-circle'></i></a>

