
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carouselItemContainer">
        <div class="carouselImageStack">
          <div class="carouselImageContainer" style="max-height:29px;max-width:135px;padding-top:8px;">
            <img src="../../assets/images/typescript.png" />
          </div>

          <div class="carouselImageContainer" style="max-height:135px;max-width:135px;">
            <img src="../../assets/images/angular.svg" />
          </div>
        </div>
        <p class="headline">Data driven websites for the enterprise</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carouselItemContainer">
        <div class="carouselImageStack">
          <div class="carouselImageContainer" style="max-height:40px;max-width:135px;padding-top:8px;">
            <img src="../../assets/images/devexpresslogo.png" />
          </div>

          <div class="carouselImageContainer" style="max-height:135px;max-width:135px;">
            <img src="../../assets/images/visualstudio.png" />
          </div>
        </div>
        <p class="headline">WPF applications for business</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carouselItemContainer">
        <div class="carouselImageStack">
          <div class="carouselImageContainer" style="max-height:90px;max-width:135px;padding-top:8px;">
            <img src="../../assets/images/sqlserver.png" />
          </div>
        </div>
        <p class="headline">Database design and development</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carouselItemContainer">
        <div class="carouselImageStack">
          <div class="carouselImageContainer" style="max-height:135px;max-width:135px;">
            <img src="../../assets/images/lam.jpg" />
          </div>
        </div>
        <p class="headline">Entity Framework</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carouselItemContainer">
        <div class="carouselImageStack">
          <div class="carouselImageContainer" style="max-height:90px;max-width:90px;">
            <img src="../../assets/images/rest.png" />
          </div>
        </div>
        <p class="headline">REST and WCF APIs</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
