<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i><fa-icon [icon]="faBars"></fa-icon></i></button>
<!-- ======= Header ======= -->
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="align-items-left hero-container">
    <div data-aos="fade-in">
      <h1>Sam Wheat</h1>
      <p><span class="typed align-items-left" data-typed-items="Enterprise Application Developer, Database Developer, Web Developer, Enterprise Application Architect"></span></p>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="content section-bg" data-aos="fade-left">
            <img id="samImg" src="{{ImageRoot + 'SamOnAMountain.jpg'}}" data-aos="fade-right" />
            <p>
              I'm Sam Wheat.  I live in Orange County, California.  I am a software engineer.  I write enterprise database applications using the
              Microsoft .Net framework and .Net Core.
            </p>
            <p>
              I write web applications and desktop applications.  For the desktop I use Windows Presentation Foundation (WPF).  For web applications
              I use a variety of tools and frameworks, the most predominant being Angular, RxJs, and TypeScript.  I use ASP.Net core MVC and Razor pages as well.
            </p>
            <p>
              Every application I have worked on in my career has been a database application.  Because of this I've acquired a fair amount of experience
              using Microsoft SQL Server and to a lesser extent Oracle and MySQL.  Entity Framework Core is a related technology that I have grown
              to appreciate and I use it everywhere I can.
            </p>
            <p>
              I work in Los Angeles, Orange County, and San Diego as an independent contractor.  Much of my work
              has been in finance and banking however I have had clients in manufacturing, broadcasting, medical, and construction
              services.
            </p>
            <p>
              I spend a lot of time working on personal projects. This gives me an opportunity to try new tools and technologies as they become available and
              it helps me stay current in this fast moving industry.  For the last eight years I've been working on a platform for working with economic
              data that is published by the St. Louis Federal Reserve Bank.  Along the way I've written several utilities mostly related to the application
              service layer.
            </p>
            <p>
              When I'm not writing code I like to read up on economics and investing.  I also enjoy hiking and mountain biking and walking along our
              beautiful Southern California beaches.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Technologies Section ======= -->
  <section id="technologies" class="testimonials">
    <div class="container">

      <div class="section-title">
        <h2>Technologies</h2>
        <p>Tools and technologies I am proficient with.</p>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'angular.png'}}" />
          <h5>Angular</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'azure.jpg'}}" />
          <h5>Azure</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'bootstrap.png'}}" />
          <h5>Bootstrap</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'devexpresslogo.png'}}" />
          <h5>Dev Express</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'docker.png'}}" />
          <h5>Docker</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'dotnetcore.png'}}" />
          <h5>Dotnet Core</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'EntityFramework.png'}}" />
          <h5>Entity Framework</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'git.jpg'}}" />
          <h5>Git</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'rxjs.png'}}" />
          <h5>RxJs</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'sqlserver.png'}}" />
          <h5>SQL Server</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'typescript.png'}}" />
          <h5>TypeScript</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'visualstudio.png'}}" />
          <h5>Visual Studio</h5>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="0">
          <img src="{{ImageRoot + 'xaml.jpg'}}" />
          <h5>XAML (WPF)</h5>
        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Clients</h2>
        <p>Clients I have worked with for at least a year.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <img src="{{ImageRoot + 'pimco.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ImageRoot + 'janus.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <img src="{{ImageRoot + 'experian2.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'fox.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <img src="{{ImageRoot + 'unionbank.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <img src="{{ImageRoot + 'callaway.png'}}" />
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <p>&nbsp;</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <img src="{{ImageRoot + 'closingcorp.png'}}" />
        </div>
      </div>

    </div>
  </section><!-- End Clients Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Please feel free to contact me with your requirement.</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class='bx bxs-map'></i>
              <h4>Location:</h4>
              <p>Orange County, CA</p>
            </div>

            <div class="email">
              <i class='bx bx-mail-send'></i>
              <h4>Email:</h4>
              <p>sam.wheat@outlook.com</p>
            </div>

            <div>
              <iframe width="100%" height="290" frameborder="0" src="https://www.bing.com/maps/embed?h=290&w=400&cp=33.606373779590605~-117.74767891983284&lvl=11&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
              </iframe>
              <div style="white-space: nowrap; text-align: center; width: 380px; padding: 6px 0;">
                <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=33.606373779590605~-117.74767891983284&amp;sty=r&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=33.606373779590605~-117.74767891983284&amp;sty=r&amp;lvl=11&amp;rtp=~pos.33.606373779590605_-117.74767891983284____&amp;FORM=MBEDLD">Get Directions</a>
              </div>
            </div>


            <!--<iframe src="https://www.bing.com/maps/embed?h=400&w=500&cp=33.606373779590605~-117.74767891983284&lvl=11&typ=d&sty=r&src=SHELL&FORM=MBEDV8" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <button type="submit">
                <i class='bx bx-mail-send'></i><span> Send Message</span>
              </button>
            </div>
          </form>
        </div>

      </div>
      <div style="height:400px;">&nbsp;</div>
    </div>
  </section><!-- End Contact Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <span>&copy; Copyright Sam Wheat</span>
        <span></span>
      </div>
      
    </div>
  </footer><!-- End  Footer -->
</main><!-- End #main -->
<a href="#" class="back-to-top"><i><fa-icon [icon]="faArrowUp"></fa-icon></i></a>
