<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Blog.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    <rewrite>
      <rules>
        <rule name="About" stopProcessing="true">
          <match url="^About$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="Contact" stopProcessing="true">
          <match url="^Contact$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="BlogIndex" stopProcessing="true">
          <match url="^BlogIndex$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="Post" stopProcessing="true">
          <match url="^Post/*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 324edc36-b873-4644-8cf3-1d8499818544-->